<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VaporApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2359</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3019</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
