<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VaporApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2986</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3491</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_4394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
