<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VaporApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_App</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Auth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BCrypt</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CLibreSSL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Console</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cookies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Essentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Fluent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_FluentSQLite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Jay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Leaf</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Middleware</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Node</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Polymorphic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Random</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Routing</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SMTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SQLite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Settings</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TLS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Transport</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Turnstile</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileCrypto</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileWeb</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TypeSafeRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_URI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Vapor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_VaporSQLite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_WebSockets</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
